<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: head" />
    <title th:text="${@utilService.getSiteName()}"></title>
</head>
<body>
<th:block th:include="common :: headerFragment" />
<th:block th:if="${tag}">
    <div class="tag_info">
        <div class="tag_text_data">
            <h2>/<a class="tag" th:href="${@tagService.getUrl(tag)}" th:text="${tag.getName()}"></a>/</h2>

            <form th:action="${'/tag/' + (favorite ? 'remove-favorite' : 'add-favorite')}" method="post" class="post-button-form">
                <button name="tagName" th:value="${tag.getName()}" th:class="${favorite ? 'fav' : 'not_fav'}" th:text="${'&#128077; ' + #messages.msg(favorite ? 'favorites.remove' : 'favorites.add')}"></button>
            </form>
            <form th:action="${'/tag/' + (hidden ? 'remove-hidden' : 'add-hidden')}" method="post" class="post-button-form">
                <button name="tagName" th:value="${tag.getName()}" th:class="${hidden ? 'fav' : 'not_fav'}" th:text="${'&#128078; ' + #messages.msg(hidden ? 'hidden.remove' : 'hidden.add')}"></button>
            </form>
        </div>
    </div>
</th:block>

<th:block th:include="common :: prevPageLink" />

<div th:if="${todayOpeningPosts != null && !todayOpeningPosts.isEmpty()}" class="post">
    <div class="post-info" th:text="#{thread.active.today}">Active today</div>
    <div class="message">
        <div th:each="post : ${todayOpeningPosts}">
            <th:block th:utext="${@postService.getHtmlLink(post)}" />
            <th:block th:text="${@postService.getShortTitle(post)}" />
        </div>
    </div>
</div>

<div th:each="thread : ${threads}">
    <div class="thread" th:with="op=${thread.getOpeningPost()}">
        <th:block th:with="post=${op}" th:include="post :: postFragment(true)" />
        <th:block th:with="skipped=${@threadService.getSkippedRepliesCount(thread)}">
            <div th:if="${skipped} > 0" class="skipped_replies">
                <a th:href="${@postService.getUrl(op)}" th:text="#{all.threads.skipped(${skipped})}">Skipped some replies</a>
            </div>
        </th:block>
        <th:block th:with="lastReplies=${@postService.getThreadLastPosts(thread)}">
            <div th:if="${!lastReplies.isEmpty()}" class="last-replies">
                <th:block th:each="post : ${lastReplies}" th:include="post :: postFragment(true)" />
            </div>
        </th:block>
    </div>
</div>

<th:block th:include="common :: nextPageLink" />

<script th:src="@{/js/thread_create.js}"></script>

<th:block th:with="title=#{form.new.thread}">
    <th:block th:include="form :: formFragment" />
</th:block>

<th:block th:include="common :: footerFragment" />
</body>
</html>