<div xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="headerFragment">
        <header class="navigation_panel" data-image-viewer="popup">
            <a class="link" href="/" th:text="${@utilService.getSiteName()}">Site name</a>
            <th:block th:utext="${@utilService.getUrlList(@settingsService.getFavoriteTags(), true)}" />
            <a href="/search/" th:text="#{navigation.search}">Search</a>,
            <a href="/feed/" th:text="#{navigation.feed}">Feed</a>
            <a class="right-link link" href="/settings/" th:text="#{navigation.settings}">Settings</a>
        </header>

        <script th:src="@{/js/3rdparty/jquery-3.4.1.min.js}"></script>
        <script th:src="@{/js/3rdparty/jquery.form.min.js}"></script>
        <script th:src="@{/js/3rdparty/jquery-ui.min.js}"></script>
        <script th:src="@{/js/3rdparty/jquery.mousewheel.js}"></script>
        <script th:src="@{/js/3rdparty/jquery.contextmenu.min.js}"></script>
        <script th:src="@{/js/3rdparty/jquery.ui.position.min.js}"></script>

        <script th:src="@{/js/image.js}"></script>
    </div>

    <div th:fragment="footerFragment">
        <footer class="navigation_panel">
            <b><a href="https://bitbucket.org/neko259/neboard5/" th:text="${@utilService.getSiteVersion()}">Version</a></b>

            <th:block th:if="${page}" th:with="url=${@utilService.getPaginatorBar(page, #request)}">
                [ <th:block th:utext="${url}" /> ]
            </th:block>

            <span th:text="#{post.speed} + ': ' + ${#numbers.formatDecimal(@postService.getPostSpeed(), 1, 'COMMA', 2, 'POINT')}">Post speed</span>
            [<a href="/api/health" th:text="#{service.health}">Health report</a>]

            <a class="link" href="#top" id="up" th:text="#{common.up}">Up</a>

            <script th:src="@{/js/refpopup.js}"></script>
            <script th:src="@{/js/main.js}"></script>
        </footer>
    </div>

    <div th:fragment="head">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="icon" type="image/png" th:href="@{/favicon.png}" />
        <link rel="shortcut icon" type="image/png" th:href="@{/favicon.png}" />

        <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/fontello-embedded.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{${'/css/' + (theme ?: @settingsService.getTheme()) + '/base_page.css'}}" />
        <link rel="stylesheet" th:href="@{/css/jquery.contextmenu.min.css}">
    </div>

    <div th:fragment="prevPageLink">
        <th:block th:with="url=${@utilService.getPrevPageLink(page, #request)}">
            <th:block th:utext="${url}" />
        </th:block>
    </div>

    <div th:fragment="nextPageLink">
        <th:block th:with="url=${@utilService.getNextPageLink(page, #request)}">
            <th:block th:utext="${url}" />
        </th:block>
    </div>
</div>
