<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: head" />
    <title th:text="${@postService.getShortTitle(post)} + ' - ' + ${@utilService.getSiteName()}">Post title</title>
</head>
<body>
<th:block th:include="common :: headerFragment" />

<th:block th:with="title=#{form.edit},create=${false}">
    <th:block th:include="form :: formFragment" />
</th:block>

<th:block th:include="common :: footerFragment" />
</body>
</html>