<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: head" />
    <title th:text="${#messages.msg('common.feed') + ' - ' + @utilService.getSiteName()}">Thread title</title>
</head>
<body>
<th:block th:include="common :: headerFragment" />

<th:block th:include="common :: prevPageLink" />

<div>
    <div th:if="${!criteria.isEmpty()}" class="post">
        <div class="message">
            <th:block th:each="criterion : ${criteria}">
                <div th:text="${#messages.msg(criterion.key) + ': ' + criterion.value}"></div>
            </th:block>
        </div>
    </div>

    <th:block th:each="post : ${posts}" th:include="post :: postFragment(true)" />
</div>

<th:block th:include="common :: nextPageLink" />


<th:block th:include="common :: footerFragment" />
</body>
</html>