<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: head" />
    <title th:text="${#messages.msg('navigation.login') + ' - ' + @utilService.getSiteName()}">Login</title>
</head>
<body>
<th:block th:include="common :: headerFragment" />

<div class="post-form-w">
    <div class="post-form">
        <div class="swappable-form-full">
            <form id="form" th:action="@{''}" th:object="${form}" method="post" enctype="multipart/form-data">
                <div class="form-row"><div class="form-label"><label for="user" th:text="#{form.user}">User</label></div><div class="form-input"><input type="text" th:field="*{user}" maxlength="200"></div></div><div class="form-row"></div>
                <div class="form-submit">
                    <input type="submit" th:value="#{form.submit}"/>
                </div>
                <div class="form-errors">
                    <div th:each="e : ${#fields.detailedErrors()}">
                        (!) <span th:text="${e.message}">The error message</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<th:block th:include="common :: footerFragment" />
</body>
</html>