<div xmlns:th="http://www.thymeleaf.org" th:fragment="postFragment(preview)" th:remove="tag">
    <th:block th:with="thread=${thread ?: post.getThread()},admin=${admin ?: @settingsService.isAdmin()},timezone=${timezone ?: @settingsService.getTimezone()}">
        <div th:class="${cssClasses ?: thread.getCssClasses()}" th:id="${post.getId()}"
             th:data-opening="${post.isOpening()}" th:data-uuid="${post.getUuid()}">
            <div class="post-info">
                <a class="post_id" th:text="${post.toString()}" th:href="${@postService.getUrl(post)}"></a>
                <span class="title" th:text="${post.getTitle()}"></span>
                <span class="pub_time" th:text="${@utilService.formatDate(post.getPubTime(), timezone)}"></span>

                <a th:if="${admin}"
                   class="admin-post-context-menu"
                   th:style="${'color:#' + @utilService.getColoredHash(post.getPosterAddress())}"
                   th:title="${post.getPosterAddress()}"
                   th:href="${'/feed/?address=' + post.getPosterAddress()}">&#11044;</a>

                <th:block th:utext="${@tripcodeService.formatTripcode(post.getTripcode())}"></th:block>

                <th:block th:if="${!post.isOpening() && (showOpInfo ?: false)}" th:with="openingPost=${thread.getOpeningPost()}">
                    <th:block th:utext="${#messages.msg('post.in') + ' ' + @postService.getHtmlLink(openingPost)}">Link to opening post</th:block>
                    <span class="title" th:text="${@postService.getShortTitle(openingPost)}">Opening post title</span>
                </th:block>

                <!--/* If this is not a popup or whatsoever, show open or reply button */-->
                <th:block th:if="${showButtons ?: true}">
                    <th:block th:if="${!preview && thread.canPost()}">
                        <a href="#form" class="quick-reply" th:text="#{post.reply}">Reply</a>
                    </th:block>
                    <th:block th:if="${preview && post.isOpening()}">
                        <a th:href="${@postService.getUrl(post)} + '#form'" th:text="#{post.open}">Open</a>
                    </th:block>
                </th:block>
            </div>

            <th:block th:each="attachment : ${@postService.getAttachments(post)}" th:utext="${@attachmentService.getView(attachment)}" />

            <div class="message" th:utext="${post.getText()}"></div>

            <th:block th:if="${post.isOpening()}">
                <div class="metadata">
                    <th:block th:if="${preview}">
                        <span th:text="'&heartsuit; ' + ${@postService.getCountByThread(thread)}">Post count</span>
                        <span th:text="'&#x2744; ' + ${@attachmentService.getCountByThread(thread)}">Attachment count</span>
                    </th:block>
                    <span class="tags">
                        <th:block th:utext="${@utilService.getUrlList(thread.getTags())}" />
                     </span>
                </div>
            </th:block>

            <th:block th:with="refmap=${@postService.getReplyLinks(post)}">
                <div class="refmap"  th:if="${!#strings.isEmpty(refmap)}" th:utext="#{post.replies} + ': ' + ${refmap}"></div>
            </th:block>
        </div>
    </th:block>
</div>
