<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: head" />
    <title th:text="${#messages.msg('common.search') + ' - ' + @utilService.getSiteName()}">Thread title</title>
</head>
<body>
<th:block th:include="common :: headerFragment" />

<th:block th:include="common :: prevPageLink" />

<div class="post-form-w">
    <div class="post-form">
        <div class="swappable-form-full">
            <form id="form" action="" method="get">
                <div class="form-row"><div class="form-label"><label for="query" th:text="#{form.query}">Query</label></div><div class="form-input"><input type="text" name="query" maxlength="200" th:value="${query}"></div></div><div class="form-row"></div>
                <div class="form-submit">
                    <input type="submit" th:value="#{form.submit}"/>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <div class="post" th:if="${@settingsService.isAdmin() && !posts.isEmpty()}">
        <div class="message">
            <form class="post-button-form purge-button-form"
                  th:action="${'/admin/cleanup/' + query}" method="post"
                  onsubmit="return confirm(gettext('Do you really want to ban the authors and delete all following posts?'));">
                <button type="submit" th:text="#{post.delete.all}">Delete all</button>
            </form>
        </div>
    </div>

    <div class="post" th:if="${tags != null && !tags.isEmpty()}">
        <div class="post-info" th:text="#{form.tags}">Tags</div>
        <div class="message">
            <th:block th:each="tag : ${tags}">
                <div th:utext="${@tagService.getHtmlLink(tag)}"></div>
            </th:block>
        </div>
    </div>
    <th:block th:each="post : ${posts}" th:include="post :: postFragment(true)" />
</div>

<th:block th:include="common :: nextPageLink" />

<th:block th:include="common :: footerFragment" />
</body>
</html>