<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: head" />
    <title th:text="${#messages.msg('navigation.settings') + ' - ' + @utilService.getSiteName()}">Settings</title>
</head>
<body>
<th:block th:include="common :: headerFragment" />

<div class="post">
    <div class="message">
        <a th:text="${#messages.msg('form.user') + ': ' + user}" th:href="${'/login?uuid=' + user}"></a>
    </div>
    <th:block th:with="hiddenTags=${@settingsService.getHiddenTags()}">
        <div th:if="${!hiddenTags.isEmpty()}"  class="message">
            <th:block th:text="${#messages.msg('tags.hidden') + ': '}"></th:block>
            <th:block th:utext="${@utilService.getUrlList(hiddenTags)}" />
        </div>
    </th:block>
</div>

<div class="post-form-w">
    <div class="post-form">
        <div class="swappable-form-full">
            <form id="form" th:action="@{''}" th:object="${form}" method="post" enctype="multipart/form-data">
                <div class="form-row"><div class="form-label"><label for="theme" th:text="#{form.theme}">Theme</label></div><div class="form-input">
                    <select th:field="*{theme}">
                        <option th:each="themeItem : ${themes}"
                                th:value="${themeItem.key}" th:text="${themeItem.value}">Theme</option>
                    </select>
                </div></div>
                <div class="form-row"><div class="form-label"><label for="parseMethod" th:text="#{form.parse.method}">Parse method</label></div><div class="form-input">
                    <select th:field="*{parseMethod}">
                        <option th:each="methodItem : ${parseMethods}"
                                th:value="${methodItem}" th:text="${methodItem}">Parse method</option>
                    </select>
                </div></div>
                <div class="form-row"><div class="form-label"><label for="timezone" th:text="#{form.timezone}">Timezones</label></div><div class="form-input">
                    <select th:field="*{timezone}">
                        <option th:each="tzItem : ${timezones}"
                                th:value="${tzItem.getID()}" th:text="${@utilService.getTimeZoneName(tzItem)}">Timezone</option>
                    </select>
                </div></div>
                <div class="form-submit">
                    <input type="submit" th:value="#{form.submit}"/>
                </div>
                <div class="form-errors">
                    <div th:each="e : ${#fields.detailedErrors()}">
                        (!) <span th:text="${e.message}">The error message</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<th:block th:include="common :: footerFragment" />
</body>
</html>