<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: head" />
    <title th:text="${title} + ' - ' + ${@utilService.getSiteName()}">Thread title</title>
</head>
<body th:data-update-timeout="${updateTimeout}" >
<th:block th:include="common :: headerFragment" />
<div>
    <div class="tag_info">
        <h2 th:text="${title}">Thread name</h2>
        <a id="rollover-link" th:data-thread-status="${thread.getStatus()}" th:text="#{thread.rollover}" th:href="${'/?fromId=' + thread.getOpeningPost().getId() + '#form'}"></a>
    </div>

    <div class="image-mode-tab" th:utext="${modeSelector}"></div>

    <button id="quote-button" th:text="#{thread.quote}">Quote</button>

    <div class="bar-bg">
        <div class="bar-value" th:style="${'width: ' + (100 - @threadService.getThreadFullness(thread)) + '%'}" id="bumplimit_progress"></div>
    </div>

    <div class="thread" th:with="cssClasses=${thread.getCssClasses()}">
        <th:block th:each="post : ${thread.getPosts()}" th:include="post :: postFragment(false)" th:with="thread=${thread}"/>
    </div>
</div>

<th:block th:if="${thread.canPost()}" th:with="title=${formTitle}">
    <th:block th:include="form :: formFragment" />

    <script th:src="@{/js/thread.js}"></script>
    <script th:src="@{/js/thread_update.js}"></script>
</th:block>

<th:block th:include="common :: footerFragment" />
</body>
</html>