<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: head" />
    <title th:text="${title} + ' - ' + ${@utilService.getSiteName()}">Thread title</title>
</head>
<body>
<th:block th:include="common :: headerFragment" />
<div>
    <div class="tag_info">
        <h2 th:text="${title}">Thread name</h2>
    </div>

    <div class="image-mode-tab" th:utext="${modeSelector}"></div>

    <div class="thread">
        <div class="post gallery">
            <th:block th:each="attachment : ${attachments}" th:utext="${@attachmentService.getView(attachment)}"/>
        </div>
    </div>
</div>

<th:block th:include="common :: footerFragment" />
</body>
</html>