@font-face {
    font-family: "Roboto";
    src: url("/css/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Inconsolata";
    src: url("/css/fonts/Inconsolata-Regular.ttf");
}

* {
   text-decoration: none;
   font-weight: inherit;
}

b, strong {
   font-weight: bold;
}

html {
    background: #555;
    color: #ffffff;
    font-family: Roboto;
}

body {
    margin: 0;
}

#admin_panel {
    background: #FF0000;
    color: #00FF00
}

.input_field_error {
    color: #FF0000;
}

.title {
    font-weight: bold;
    color: #ffcc00;
}

.link, a {
    color: #afdcec;
}

.block {
    display: inline-block;
    vertical-align: top;
}

.tag {
    color: #FFD37D;
}

.post_id {
    color: #fff380;
}

.post, .dead_post, .archive_post, #posts-table {
    background: #333;
    padding: 10px;
    clear: left;
    word-wrap: break-word;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
}

.post + .post {
    margin-top: 5px;
}

.dead_post + .dead_post {
    margin-top: 5px;
}

.archive_post + .archive_post {
    margin-top: 5px;
}

.metadata {
    padding-top: 5px;
    margin-top: 10px;
    border-top: solid 1px #666;
    color: #ddd;
}

.navigation_panel, .tag_info {
    background: #222;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px;
    border-bottom: solid 1px #888;
    border-top: solid 1px #888;
    color: #eee;
}

.navigation_panel .link:first-child {
    border-right: 1px solid #fff;
    font-weight: bold;
    margin-right: 1ex;
    padding-right: 1ex;
}

.navigation_panel .right-link {
    border-left: 1px solid #fff;
    border-right: none;
    float: right;
    margin-left: 1ex;
    margin-right: 0;
    padding-left: 1ex;
    padding-right: 0;
}

.navigation_panel .link {
    font-weight: bold;
}

.navigation_panel::after, .post::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

.tag_info {
    text-align: center;
}

.tag_info > .tag-text-data {
    text-align: left;
    max-width: 30em;
}

header.navigation_panel {
    border-bottom: solid 2px #ccc;
    margin-bottom: 5px;
    border-top: none;
    margin-top: 0;
}

footer.navigation_panel {
    border-top: solid 2px #ccc;
    margin-top: 5px;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 20px;
}

p, .br {
    margin-top: .5em;
    margin-bottom: .5em;
}

.post-form-w {
    background: #333344;
    border-top: solid 1px #888;
    border-bottom: solid 1px #888;
    border-right: solid 1px #888;
    color: #fff;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    display: table;
}

.form-row {
    width: 100%;
    display: table-row;
}

.post-form[data-form-type=post] .form-label {
    display: none;
}

.post-form[data-form-type=post] .form-row {
	display: table;
}

.form-label {
    padding: .25em 1ex .25em 0;
    vertical-align: top;
    display: table-cell;
}

.form-input {
    padding: .25em 0;
    width: 100%;
    display: table-cell;
}

.form-errors {
    font-weight: bolder;
    vertical-align: middle;
    display: table-cell;
}

.post-form input:not([name="image"]):not([type="checkbox"]):not([type="submit"]), .post-form textarea, .post-form select {
    background: #333;
    color: #fff;
    border: solid 1px #ccc;
    padding: 0;
    font: medium sans-serif;
    width: 100%;
}

.post-form textarea {
    resize: vertical;
}

.form-submit {
    display: flex;
    flex-flow: wrap;
    margin-bottom: 1ex;
    margin-top: 1ex;
}

.form-submit > button[type=submit] {
    font-weight: bold;
}

.form-title {
    font-weight: bold;
    font-size: 2ex;
    margin-bottom: 0.5ex;
}

input[type="submit"], button {
    background: #222;
    border: solid 1px #ddd;
    color: #fff;
    padding: 0.5ex;
    margin-right: 5px;
    margin-bottom: 5px;
}

[type="submit"]:hover {
    background: #060;
}

.post-form button:not([type=submit]):hover {
    background: #006;
}

blockquote {
    border-left: solid 2px;
    padding-left: 5px;
    color: #B1FB17;
    margin: 0;
}

.post > .image {
    float: left;
    margin: 0 1ex .5ex 0;
    min-width: 1px;
    text-align: center;
    display: table-row;
}

.post > .metadata {
    clear: left;
}

.get {
    font-weight: bold;
    color: #d55;
}

* {
    text-decoration: none;
}

.dead_post > .post-info {
    font-style: italic;
}

.archive_post > .post-info {
    text-decoration: line-through;
}

#mark-panel {
    display: flex;
    flex-flow: wrap;
}

.mark_btn {
    border: 1px solid #ddd;
    padding: 2px 2ex;
    margin: 0 5px 4px 0;
}

.mark_btn:hover {
    background: #555;
}

.quote {
    color: #92cf38;
    font-style: italic;
}

.multiquote {
    padding: 3px;
    display: inline-block;
    background: #222;
    border-style: solid;
    border-width: 1px 1px 1px 8px;
    font-size: 0.9em;
}

.spoiler {
    background: black;
    color: black;
}

.spoiler:hover {
    color: #ddd;
}

.comment {
    color: #eb2;
}

a:hover {
    text-decoration: underline;
}

.last-replies > .post {
    margin-left: 3ex;
    margin-right: 3ex;
    border-left: solid 1px #777;
    border-right: solid 1px #777;
    margin-top: 5px;
}

.thread {
    margin-bottom: 3ex;
    margin-top: 1ex;
}

.post:target {
    border: solid 2px white;
}

pre{
    white-space:pre-wrap
}

li {
    list-style-position: inside;
}

.fancybox-skin {
    position: relative;
    background-color: #fff;
    color: #ddd;
    text-shadow: none;
}

.fancybox-image {
    border: 1px solid black;
}

.image-mode-tab {
    background: #444;
    color: #eee;
    margin-top: 5px;
    padding: 5px;
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}

.image-mode-tab > label {
    margin: 0 1ex;
}

.image-mode-tab > label > input {
    margin-right: .5ex;
}

#posts-table {
    margin-top: 5px;
    margin-bottom: 5px;
}

.tag-text-data > h2 {
    margin: 0;
    font-size: 2.5em;
}

.post-info {
    color: #ddd;
    margin-bottom: 1ex;
}

.moderator_info {
    color: #e99d41;
    opacity: 0.4;
}

.moderator_info:hover {
    opacity: 1;
}

.refmap {
    font-size: 0.9em;
    color: #ccc;
    margin-top: 1em;
}

.fav {
    color: yellow;
}

.not_fav {
    color: #ccc;
}

.form-email {
    display: none;
}

.bar-bg {
        background: #ea4649;
        background: linear-gradient(to right, green, yellow, red);
        margin: 0;
        position: fixed;
        overflow: hidden;
        bottom: 0;
        left: 0;
        box-sizing: border-box;
        width: 100%;
        box-shadow: 0 -1px 0 0 rgba(0,0,0,.5);
        z-index: 10;
}
.bar-value {
        background: #fff;
        height: 7px;
        margin-left: auto;
}

.page_link {
    background: #444;
    border-top: solid 1px #888;
    border-bottom: solid 1px #888;
    padding: 5px;
    color: #eee;
    font-size: 2ex;
    margin-top: .5ex;
    margin-bottom: .5ex;
}

.skipped_replies {
    padding: 5px;
    margin-left: 3ex;
    margin-right: 3ex;
    border: solid 1px #888;
    background: #000;
    margin-top: 4px;
}

.current_page {
    padding: 2px;
    background-color: #afdcec;
    color: #000;
}

.current_mode {
    font-weight: bold;
}

.gallery > .image {
    border: solid 1px #999;
    margin: 0.5ex;
    text-align: center;
    padding: 1ex;
}

code {
    border: dashed 1px #ccc;
    background: #111;
    padding: 2px;
    display: inline-block;
    font-family: 'Inconsolata', monospace;
}

pre {
    overflow: auto;
}

.img-full {
    background: #222;
    border: solid 1px white;
}

.tag_item {
    display: inline-block;
}

#id_models li {
    list-style: none;
}

#id_q {
    margin-left: 1ex;
}

ul {
    padding-left: 0px;
}

.quote-header {
    border-bottom: 2px solid #ddd;
    margin-bottom: 1ex;
    padding-bottom: .5ex;
    color: #ddd;
    font-size: 1.2em;
}

.global-id {
    font-weight: bolder;
    opacity: .5;
}

/* Reflink preview */
.post_preview {
    border-left: 1px solid #777;
    border-right: 1px solid #777;
    max-width: 600px;
}

/* Code highlighter */
.hljs {
    color: #fff;
    background: #000;
    display: inline-block;
}

.hljs, .hljs-subst, .hljs-tag .hljs-title, .lisp .hljs-title, .clojure .hljs-built_in, .nginx .hljs-title {
    color: #fff;
}

#up {
    bottom: 10px;
    right: 10px;
    border: 1px solid #777;
    background: #000;
    padding: 6px;
    opacity: 0.3;
}

#up:hover {
    opacity: 1;
}

.user-cast {
    border: solid #ffffff 1px;
    padding: .2ex;
    background: #152154;
    color: #fff;
}

.highlight {
    background: #222;
}

.post-button-form > button:hover {
    text-decoration: underline;
}

.tree_reply > .post {
    margin-top: 1ex;
    border-left: solid 1px #777;
    padding-right: 0;
}

.preview-text {
    border: solid 1px white;
    margin: 1ex 0 1ex 0;
    padding: 1ex;
}

.image-metadata {
    font-size: 0.9em;
    word-break: break-all;
}

.tripcode {
    color: white;
}

#fav-panel {
    border: 1px solid white;
}

.post-blink {
    background-color: #000;
}

#quote-button {
    background-color: black;
    border: solid white 2px;
    padding: .5ex;
}

#quote-button:hover {
    background-color: #2d3955;
}

.landing-threads > .thread {
    border-left: solid 1px #777;
    border-right: solid 1px #777;
}

.landing-threads {
    margin-bottom: 1em;
}

.post > .post-info {
    max-width: -moz-fit-content;
    max-width: fit-content;
}

.post[data-opening=true] > .post-info {
    background: #333;
    padding: 4px;
    border: #ddd 1px solid;
}

.post[data-opening=false] > .post-info {
    border-bottom: 1px dashed #777;
    padding-bottom: 4px;
}

.btn-color {
	color: yellow;
}

.ui-widget-content > .ui-menu-item {
	background: #444;
	color: white;
	border: 1px solid white;
	padding: 4px;
	list-style-type: none;
}

.ui-widget-content > .ui-menu-item:hover  {
	background: #111;
}

.file-preview-name {
	font-size: .9em;
	overflow-wrap: anywhere;
	max-width: 200px;
}

.file-preview {
	margin-right: 5px;
	margin-bottom: 5px;
}

